<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystemSize</key>
	<integer>1355</integer>
	<key>RootFilesystem</key>
	<string>048-2955-001.dmg</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Filename</key>
	<string>iPhone2,1_6.1.6_10B500_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone2,1_6.1.6_10B500</string>
	<key>SubPlatform</key>
	<integer>5</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n88.plist</string>
	<key>SHA1</key>
	<string>eb7f495760a500bb284b07f11492a4fadf687802</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B500.N88OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>075e4c6d7634f89cd0dadad8a45b46b839b456a7348857120e041530872ae32b</string>
			<key>Patch</key>
			<string>iBSS.n88ap.RELEASE.patch</string>
			<key>IV</key>
			<string>7378889b55a5b6cbe67d54958b3126ec</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>ae86446dd5300ddb962de73b44cb02d05f22a368a9aa175d8e78c2b1737b6231</string>
			<key>Patch</key>
			<string>iBEC.n88ap.RELEASE.patch</string>
			<key>IV</key>
			<string>2c10d1e17305cc3968297b9dd7733a39</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>Key</key>
			<string>af6889f21968a37165b17b148722ce2d4ef59ec4bdd3932c6e0dc5c60cab7413</string>
			<key>Patch</key>
			<string>LLB.n88ap.RELEASE.patch</string>
			<key>IV</key>
			<string>6cd7721b9a689e7cc8667fb9ee8724bf</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2889-001.dmg</string>
			<key>Key</key>
			<string>7daa8741a223df0672513b95852a1a78f7055867872fd5b4907fc158735d9abd</string>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>702c4aebddc712d22ea41c8091c40ab9</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>Key</key>
			<string>3ed29e53b28b4cf05eefa219d99b9d518b6cdfb30294529545df698e6a6d9afb</string>
			<key>Patch</key>
			<string>iBoot.n88ap.RELEASE.patch</string>
			<key>IV</key>
			<string>a5abb50a839fd6a71b64670567cebef8</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>7ab6f9149d78ade9b6900740a8312d6f81bf75be6688e72d9048fdf1ec0f231e1e6c3705</string>
</dict>
</plist>
